@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background: #26272C;
    color: #F4F4F4;
    padding: 0 10vw;
}
.title{
    margin-top: 3vh;
    text-align: center;
    font-size: 30px;
    padding: 8px 0 0 0;
    width: 80vw;
    height: 10vh;
    border: 1px solid #26272C;
    border-radius: 75px;
    box-shadow: 20px 15px 57px -4px #000000,
                -15px -15px 36px -13px rgba(255,255,255,0.42),
                inset 17px 17px 24px 0px rgba(255,255,255,0.25),
                inset -15px -15px 25px -3px rgba(0,0,0,0.50);
    background: #FF6443;
    box-sizing: border-box;
}
.content{
    height: 80vh;
    width: 80vw;
}
.cards{
    margin-top: 5vh;
    height: 78vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    margin-right: 5px;
    width: 26vw;
    height: 38vh;
    border: 1px solid #26272C;
    border-radius: 30px;
    color: #26272C;
    float: left;
    box-shadow: 20px 15px 57px -4px #000000,
                -15px -15px 36px -13px rgba(255,255,255,0.42),
                inset 17px 17px 24px 0px rgba(255,255,255,0.25),
                inset -15px -15px 25px -3px rgba(0,0,0,0.50);
    background: #FF6443;
    text-align: center;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}