@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(145deg, #d1dde3, #f8ffff);
    color: #000;
    padding: 0 10vw;
}
.title{
    margin-top: 3vh;
    text-align: center;
    font-size: 30px;
    padding: 8px 0 0 0;
    width: 80vw;
    height: 10vh;
    /* border: 1px solid #d1dde3; */
    border-radius: 30px;
    background: linear-gradient(145deg, #d1dde3, #f8ffff);
    box-shadow:  34px 34px 68px #b3bdc2,
                 -34px -34px 68px #ffffff;
    box-sizing: border-box;
    color: #000;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.555);
}
.content{
    height: 80vh;
    width: 80vw;
}
.cards{
    margin-top: 5vh;
    height: 78vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    margin-right: 5px;
    width: 26vw;
    height: 38vh;
    color: #000;
    float: left;
    /* border: 1px solid #d1dde3;
    border-radius: 30px;
    background: linear-gradient(145deg, #d1dde3, #f8ffff);
    box-shadow:  34px 34px 68px #b3bdc2,
                 -34px -34px 68px #ffffff; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card:hover{
    scale: 1.1;
    /* border: 1px solid #d1dde3; */
    border-radius: 30px;
    background: linear-gradient(145deg, #d1dde3, #f8ffff);
    box-shadow:  34px 34px 68px #b3bdc2,
                 -34px -34px 68px #ffffff;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}
.icons{
    width: 50px;
    
}

@keyframes shake-horizontal{
    0%, 100%{
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%{
        transform: translateX(-10px);
    }
    20%, 40%, 60%{
        transform: translateX(10px);
    }
    80%{
        transform: translateX(8px);
    }
    90%{
        transform: translateX(-8px);
    }
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}