@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');
:root{
    --left-menu: #040b15;
    --back: #f4f4f4;
    --buttons: #212532;
    --links: #606c7c;
    --links-hover: #41A5E1;
}

body{
    background: var(--back);
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.content{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.left-menu{
    background: var(--left-menu);
    width: 30vw;
    height: 100vh;
}
.perfil{
    text-align: center;
}
.perfil-img{
    width: 10vw;
    margin: 30px 9.5vw;
    border: 8px solid var(--buttons);
    border-radius: 50%;
    margin-bottom: 0;
}
.name{
    font-size: 24px;
    /* margin-top: -100px; */
}
.name a{
    text-decoration: none;
    color: var(--back);
    font-weight: 600;
}
.social-media{
    margin: 20px 5vw 50px 5vw;
}
.social-media a{
    border-radius: 50%;
    background: var(--links);
    border: 10px solid var(--links);
}
.mail:hover{
    background: #FF5739;
    border: 10px solid #FF5739;
}
.github:hover{
    background: #8230A4;
    border: 10px solid #8230A4;
}
.instagram:hover{
    background: #FF1C77;
    border: 10px solid #FF1C77;
}.linkedin:hover{
    background: #0A65C0;
    border: 10px solid #0A65C0;
}.telegram:hover{
    background: #4DB5F9;
    border: 10px solid #4DB5F9;
}.whatsapp:hover{
    background: #0CC243;
    border: 10px solid #0CC243;
}
.menu{
    /* margin-top: 20px; */
}
.menu a{
    text-decoration: none;
}
li{
    list-style: none;
    color: var(--back);
    margin-bottom: 10px;
}
li:hover{
    color: var(--links-hover);
}
.menu img{
    width: 22px;
}
.baseboard{
    position: absolute;
    bottom: 0;
    margin: 5px auto;
    width: 30vw;
    text-align: center;
}
.baseboard span{
    color: var(--back);
}
.baseboard a{
    color: var(--links-hover);
    text-decoration: none;
}