/*@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'VT323', monospace;
    background: #2B2B2B;
}
header{
    background: #1B191A;
    width: 100%;
    height: 10vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.navbar-icon{
    height: 8vh;
    border-radius: 40px;
    margin: 5px;
}
.navbar-btn{
    /* float: right; */
    display: flex;
    align-items: flex-end;
}
.link-home-button{
    text-decoration: none;
    padding: 21.5px;
    background: #1B191A;
    color: #60A1DF;
    border: none;
    font-size: 32px;
    cursor: pointer;
}
.link-home-button:hover{
    background: #60A1DF;
    color: #FFECDE;
}
.link-projects-button{
    text-decoration: none;
    padding: 21.5px;
    background: #1B191A;
    color: #60A1DF;
    border: none;
    font-size: 32px;
    cursor: pointer;
}
.link-projects-button:hover{
    background: #60A1DF;
    color: #FFECDE;
}
.link-contacts-button{
    text-decoration: none;
    padding: 21.5px;
    background: #1B191A;
    color: #60A1DF;
    border: none;
    font-size: 32px;
    cursor: pointer;
}
.link-contacts-button:hover{
    background: #60A1DF;
    color: #FFECDE;
}
.main{
    width: 90vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.img-container{
    width: 35vw;
    height: 90vh;
    display: flex;
    box-sizing: border-box;
}
.left-container-image{
    width: 35vw;
}
.text-container{
    width: 50vw;
    height: 60vh;
    padding: 0 10px;
    background: #64606077;
    border-radius: 5px;
    margin-top: 50px;  
    color: #FFECDE;
    font-size: 22px;
    box-sizing: border-box;
}
.title{
    font-size: 32px;
    font-weight: 500;
}